html, body{

    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
cursor: url("https://cdn.cursors-4u.net/previews/normal-4d9d684a-64.webp"), auto;
}

canvas{

    display:block;
    width:100%;
    height:100%;
    touch-action: none;


}
