html, body{

    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
cursor: url("https://github.com/sferreira2001/mouse/blob/main/normal-971948a7.cur"), auto;
}

canvas{

    display:block;
    width:100%;
    height:100%;
    touch-action: none;


}
